[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Dropbox
Comment=Dropbox client
Exec=/usr/bin/dropboxd
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

