<?xml version="1.0" encoding="UTF-8"?>

<xfburn-settings>
	<setting name="show-hidden-files" type="boolean" value="false"/>
	<setting name="temporary-dir" type="string" value="/tmp"/>
	<setting name="clean-temporary-dir" type="boolean" value="true"/>
	<setting name="human-readable-units" type="boolean" value="true"/>
	<setting name="show-empty-speed-list-notice" type="boolean" value="true"/>
	<setting name="fifo-size" type="int" value="4096"/>
</xfburn-settings>
